<!DOCTYPE html>
<html>
  <head>
    <title>Grist Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to GRiST XML Page.</h1>
    <p>Read the xml file</p>
    <ul>
    <% listOfComments.forEach((item) => { %>
      <li><%= item.comment %> : <%= item.commentDate %> </li>
    <% })%>
  </ul>
    <a href="/facebook">Post on Facebook</a>
  </body>
</html>
